<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base:: layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <h1>this is new about</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque animi modi, recusandae impedit vitae
            saepe unde at! Vero totam nam perspiciatis pariatur. Soluta autem dicta placeat eveniet quaerat, iusto
            voluptatum! Iusto recusandae odio officia quo pariatur ratione, ducimus vero voluptatum.</p>
    </section>

</body>

</html>