<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  </head>

  <body>
    <h1>My name is <span th:text="${#strings.toUpperCase(name)}"></span></h1>
    
    <h1>Current time is <span th:text="${date}"></span></h1>

    <div th:with="a=12,b=24, n=${name}">
        <h1 th:text="${a} + ${b}"></h1>
        <h2 th:text="'Name of person is ' + ${n}"></h2>
    </div>

  </body>

</html>