<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <footer th:fragment="footer1">
        <div class="container">
            <h1>Learn code with Adnan</h1>
            <p>Feel free to contact</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nisi perspiciatis, temporibus ad vel
                corrupti fugiat accusantium quis adipisci labore pariatur dolore vero voluptatum non consequatur
                delectus inventore doloribus blanditiis.</p>
        </div>
    </footer>

</body>

</html>