<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer th:replace="footer :: footer1(${title},${subtitle})">
        <!-- th:include will include fragment inside content excluding footer tag -->
        <!-- th:insert will add fragment inside this tag -->
        <!-- th:replace wil replace the this tag.-->
        
    </footer>
</body>

</html>